#container-map-route {
  --form_color_bg_form_color: #F7F7F7;
}

#btn-minimize-restore {
  position: absolute;
  top: .25rem;
  right: .25rem;
}

#btn-minimize-restore button {
  --button-pad: .625rem;
  width: calc(1.5rem + var(--button-pad));
  height: calc(1.5rem + var(--button-pad));
  padding: calc(var(--button-pad) / 2);
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--form_color_bg_form_color);
  position: relative;
  cursor: pointer;
}
button#minimize {
  --button-pad: .750rem;
  width: calc(1.25rem + var(--button-pad));
  height: calc(1.25rem + var(--button-pad));
  padding: calc(var(--button-pad) / 2);
}
button#minimize:hover:after ,
button#restore:hover:after {
  content: '';
  border-radius: 100%;
  z-index: 0;
  height: 2.25rem;
  width: 2.25rem;
  background-color: var(--black);
  opacity: .04;
  position: absolute;
  top: -1px;
  left: -2px;
}

button#restore {
  display: none;
}

#destination_form {
  --animation-minimize: .35s;
}

/*
  Event Minimize.
*/
#destination_form.minimizing {
  animation: first_minimize var(--animation-minimize) 1 ease-in;
}
@keyframes first_minimize {
  90% {
    width: 2.875rem;
    padding: 0;
  }
  100% {
    width: 2.875rem;
    height: 2.875rem;
    padding: 0;
  }
}
#destination_form.minimized {
  width: 2.875rem;
  height: 2.875rem;
  padding: 0;
}

@keyframes second_minimize {
  0%,
  10% {
    opacity: 1;
    display: block;
  }
  90% {
    width: 0;
    opacity: 0;
    display: block;
  }
  100% {
    width: 0;
    opacity: 0;
    display: none;
  }
}
#destination_form.minimizing #destinations-icons,
#destination_form.minimizing #destinations-addresses,
#destination_form.minimizing #map_route_planner {
  animation: second_minimize var(--animation-minimize) 1 ease-in;
}
#destination_form.minimized #destinations-icons,
#destination_form.minimized #destinations-addresses,
#destination_form.minimized #map_route_planner {
  display: none;
}
@keyframes third_minimize {
  0%, 10% {
    opacity: 1;
    display: block;
  }
  30%, 100% {
    opacity: 0;
    display: none;
  }
}
#destination_form.minimizing #destinations-addresses-reverse,
#destination_form.minimizing #minimize,
#destination_form.minimizing #travel_mode label:nth-of-type(4),
#destination_form.minimizing #travel_mode input:nth-of-type(4) {
  animation: third_minimize var(--animation-minimize) 1 ease;
}

@keyframes four_minimize {
  0%, 30% {
    opacity: 0;
    display: none;
  }
  50%, 100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.minimizing #restore {
  animation: four_minimize var(--animation-minimize) 1 ease;
}
#destination_form.minimized #restore {
  display: block;
}

#destination_form.minimized #destinations-addresses-reverse,
#destination_form.minimized #minimize,
#destination_form.minimized #travel_mode label:nth-of-type(5),
#destination_form.minimized #travel_mode input:nth-of-type(5),
#destination_form.minimized #travel_mode label:nth-of-type(4),
#destination_form.minimized #travel_mode input:nth-of-type(4),
#destination_form.minimized #travel_mode label:nth-of-type(3),
#destination_form.minimized #travel_mode input:nth-of-type(3),
#destination_form.minimized #travel_mode label:nth-of-type(2),
#destination_form.minimized #travel_mode input:nth-of-type(2),
#destination_form.minimized #travel_mode label:nth-of-type(1),
#destination_form.minimized #travel_mode input:nth-of-type(1) {
  display: none;
}

@keyframes travel_mode5_minimize {
  0% {
    opacity: 1;
    display: block;
  }
  10% ,
  100% {
    opacity: 0;
    display: none;
  }
}
#destination_form.minimizing #travel_mode label:nth-of-type(5),
#destination_form.minimizing #travel_mode input:nth-of-type(5) {
  animation: travel_mode5_minimize var(--animation-minimize) 1 ease;
}

@keyframes travel_mode3_minimize {
  0%,
  30% {
    opacity: 1;
    display: block;
  }
  50% ,
  100% {
    opacity: 0;
    display: none;
  }
}
#destination_form.minimizing #travel_mode label:nth-of-type(3),
#destination_form.minimizing #travel_mode input:nth-of-type(3) {
  animation: travel_mode3_minimize var(--animation-minimize) 1 ease;
}

@keyframes travel_mode2_minimize {
  0%,
  50% {
    opacity: 1;
    display: block;
  }
  70% ,
  100% {
    opacity: 0;
    display: none;
  }
}
#destination_form.minimizing #travel_mode label:nth-of-type(2),
#destination_form.minimizing #travel_mode input:nth-of-type(2) {
  animation: travel_mode2_minimize var(--animation-minimize) 1 ease;
}

@keyframes travel_mode1_minimize {
  0%,
  70% {
    opacity: 1;
    display: block;
  }
  90% ,
  100% {
    opacity: 0;
    display: none;
  }
}
#destination_form.minimizing #travel_mode label:nth-of-type(1),
#destination_form.minimizing #travel_mode input:nth-of-type(1) {
  animation: travel_mode1_minimize var(--animation-minimize) 1 ease;
}

/*
  Event Restore.
*/

@keyframes first_restore {
  0% {
    width: 2.875rem;
    height: 2.875rem;
    padding: 0;
  }
  10% {
    width: 2.875rem;
    padding: 0;
  }
  100% {
    width: 312px;
    padding: 1.25rem 2.375rem; /* 10px 38px */
  }
}
#destination_form.restoring {
  width: 2.875rem;
  height: 2.875rem;
  padding: 0;
  animation: first_restore var(--animation-minimize) 1 ease-in;
}

@keyframes second_restore {
  0%,
  10% {
    width: 0;
    opacity: 0;
    display: none;
  }
  90% {
    width: 0;
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.restoring #destinations-icons,
#destination_form.restoring #destinations-addresses,
#destination_form.restoring #map_route_planner {
  /*
  width: 0;
  opacity: 0;
  display: none;
  */
  animation: second_restore var(--animation-minimize) 1 ease-in;
}

@keyframes third_restore {
  0%, 10% {
    opacity: 1;
    display: block;
  }
  30%, 100% {
    opacity: 0;
    display: none;
  }
}
@keyframes third_restore_b {
  0%, 10% {
    opacity: 0;
    display: none;
  }
  30%, 100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.restoring #restore {
  /*
  opacity: 1;
  display: block;
   */
  animation: third_restore var(--animation-minimize) 1 ease;
}
#destination_form.restoring #destinations-addresses-reverse,
#destination_form.restoring #travel_mode label:nth-of-type(4),
#destination_form.restoring #travel_mode input:nth-of-type(4) {
  /*
  opacity: 0;
  display: none;
   */
  animation: third_restore_b var(--animation-minimize) 1 ease;
}
@keyframes four_restore {
  0%, 30% {
    opacity: 0;
    display: none;
  }
  50%, 100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.minimizing #minimize {
  /*
  opacity: 0;
  display: none;
  */
  animation: four_restore var(--animation-minimize) 1 ease;
}

@keyframes travel_mode5_restore {
  0% {
    opacity: 0;
    display: none;
  }
  10% ,
  100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.restoring #travel_mode label:nth-of-type(5),
#destination_form.restoring #travel_mode input:nth-of-type(5) {
  /*
  opacity: 0;
  display: none;
  */
  animation: travel_mode5_restore var(--animation-minimize) 1 ease;
}

@keyframes travel_mode3_restore {
  0%,
  30% {
    opacity: 0;
    display: none;
  }
  50% ,
  100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.restoring #travel_mode label:nth-of-type(3),
#destination_form.restoring #travel_mode input:nth-of-type(3) {
  /*
  opacity: 0;
  display: none;
  */
  animation: travel_mode3_restore var(--animation-minimize) 1 ease;
}

@keyframes travel_mode2_restore {
  0%,
  50% {
    opacity: 0;
    display: none;
  }
  70% ,
  100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.restoring #travel_mode label:nth-of-type(2),
#destination_form.restoring #travel_mode input:nth-of-type(2) {
  /*
  opacity: 0;
  display: none;
   */
  animation: travel_mode2_restore var(--animation-minimize) 1 ease;
}

@keyframes travel_mode1_restore {
  0%,
  70% {
    opacity: 0;
    display: none;
  }
  90% ,
  100% {
    opacity: 1;
    display: block;
  }
}
#destination_form.restoring #travel_mode label:nth-of-type(1),
#destination_form.restoring #travel_mode input:nth-of-type(1) {
  /*
  opacity: 0;
  display: none;
   */
  animation: travel_mode1_restore var(--animation-minimize) 1 ease;
}
