/*
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/

#container-map-route {
  --google-blue: #1A73E8;
  --white: #FFF;
  --black: #000;
  --gray-1: #CCC;
  --gray-2: #666;
  --gray-3: rgb(128, 134, 139);
  --gray-4: #3C4043;

  /* Default values.*/
  /* Review all temporaries values.*/
  --dimension_map_width_map: 100%;
  --dimension_map_height_map: 500px;
  --form_position_top_position: auto;
  --form_position_left_position: 3px;
  --form_position_right_position: auto;
  --form_position_bottom_position: 3px;
  --form_color_bg_form_color: #F7F7F7;
  --form_color_bg_header_color: --gray-1;/* Not used for the moment */
  --form_color_text_label_text_color: #3C3C3C;/* Not used for the moment */
  --form_color_bg_button_color: #E30613;
  --form_color_text_submit_button_text_color: --white;/* Not used for the moment */
  --form_color_three_btn_three_btn_color: #BDBDBD;/* Not used for the moment */
  --form_color_three_btn_three_btn_hover_color: #787878;/* Not used for the moment */


  position: relative;
  width: var(--dimension_map_width_map);
}

#container-google-map {
  position: relative;
}

#google-map {
  height: var(--dimension_map_height_map);
}

/* Overlay and Map Loader - START */
#overlay {
  display: none;/* Hidden by default */
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; /* top position */
  left: 0; /* left position */
  right: 0; /* right position */
  bottom: 0; /* bottom position */
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: progress; /* For indicate to user the functionnalities is in progress */
}
#overlay.show {
  display: block;
}
#map-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: loader 0.8s infinite ease;
  animation: loader 0.8s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #BEBEBE, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #BEBEBE, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #BEBEBE, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #BEBEBE, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #BEBEBE, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #BEBEBE, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #BEBEBE, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #BEBEBE;
  }
}
@keyframes loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #BEBEBE, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #BEBEBE, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #BEBEBE, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #BEBEBE, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #BEBEBE, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #BEBEBE, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #BEBEBE, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #BEBEBE;
  }
}
/* Overlay and Map Loader - END */

#destination_form {
  position: absolute;
  z-index: 4;
  background: #F7F7F7;
  border: 1px solid #E7E7E7;
  color: var(--black);
  text-align: center;
  box-sizing:border-box;
  left: 0;
  bottom: 0;
  padding: 1.25rem 2.375rem; /* 10px 38px */
  width: 312px;
  top: var(--form_position_top_position);
  left: var(--form_position_left_position);
  right: var(--form_position_right_position);
  bottom: var(--form_position_bottom_position);
  background-color: var(--form_color_bg_form_color);
  overflow: hidden;
}

#travel_mode {
  margin: .5rem 0;
}

#travel_mode label {
  width: 1.5rem;
  height: 1.5rem;
}

#travel_mode input[type=radio] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

#travel_mode input[type=radio] + label {
  color: var(--gray-1);
  position: relative;
  margin: .33rem;
}

travel_mode input[type=radio]:hover + label,
travel_mode input[type=radio]:focus + label {
  color: var(--gray-2);
}

#travel_mode input[type=radio]:checked + label,
travel_mode input[type=radio]:checked:hover + label,
travel_mode input[type=radio]:checked:focus + label {
  color: var(--black);
}

#travel_mode input[type=radio]:not(:checked) + label:hover:after {
  content: '';
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  height: 2.25rem;
  width: 2.25rem;
  top: -6px;
  left: -6px;
  background-color: var(--black);
  opacity: .04;
}

#travel_mode label,
#travel_mode label svg {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

#destinations {
  position: relative;
}

#destinations-icons {
  margin: 1px 0 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(calc(-100% - .125rem), -50%);
  -moz-transform: translate(calc(-100% - .125rem), -50%);
  -ms-transform: translate(calc(-100% - .125rem), -50%);
  -o-transform: translate(calc(-100% - .125rem), -50%);
  transform: translate(calc(-100% - .125rem), -50%);
  --button-pad: .625rem;
  padding: calc(var(--button-pad) / 2);
}

#destinations-icons li:nth-of-type(1) .icon svg {
  width: 1rem;
}

#destinations-icons li:nth-of-type(2) .icon {
  width: 1.5rem;
  height: 2.5rem;
  margin: -.25rem 0;
  overflow: hidden;
  position: relative;
}

#destinations-icons li:nth-of-type(2) .icon svg {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: -50%;
  transform: translateX(.25rem);
}

#destinations-icons li:nth-of-type(3) .icon svg {
  color: #DB4135;
}

#destinations-addresses {
  display: flex;
  flex-direction: column;
}

#destinations-addresses #address-0 {
  order: 1;
}

#destinations-addresses #address-1 {
  order: 2;
}

#destinations-addresses-reverse {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(calc(100% + .125rem), -50%);
  -moz-transform: translate(calc(100% + .125rem), -50%);
  -ms-transform: translate(calc(100% + .125rem), -50%);
  -o-transform: translate(calc(100% + .125rem), -50%);
  transform: translate(calc(100% + .125rem), -50%);
}

.input-contain {
  position: relative;
  margin: .5rem 0;
}

.input-contain input,
.input-contain select {
  height: 40px;
  width: 100%;
  border: 1px solid var(--gray-3);
  border-radius: .5rem;
  background-color: var(--form_color_bg_form_color);
}

:root {
  --input-pad-normal: 1.2rem;
  --input-pad-right: 2.125rem;
}

.input-contain select {
  opacity: 1;
  cursor: not-allowed;
  box-sizing: content-box;
  width: calc(100% - calc(2 * var(--input-pad-normal)));
}

.input-contain .placeholder-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-contain .placeholder-text {
  pointer-events: none;
}

.input-contain .text {
  padding: 0 0.5rem;
  background-color: var(--form_color_bg_form_color);
}

.input-contain .text,
.input-contain input,
.input-contain select,
.input-contain .placeholder-text {
  letter-spacing: .01428571em;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--black);
}

.input-contain input,
.input-contain .placeholder-text {
  padding: 0 var(--input-pad-normal);
  width: calc(100% - calc(2 * var(--input-pad-normal)));
  margin: 0;
}
.input-contain select,
.input-contain select + .placeholder-text {
  padding: 0 var(--input-pad-normal);
}

.input-contain input:focus {
  padding: 0 var(--input-pad-right) 0 var(--input-pad-normal);
  width: calc(100% - calc(var(--input-pad-right) + var(--input-pad-normal)));
}

.input-contain input:focus {
  outline: none;
  border-color: var(--google-blue);
}
.input-contain input {
  font-size: .75rem;
}
.input-contain input::-webkit-input-placeholder,
.input-contain input:-moz-placeholder,
.input-contain input::-moz-placeholder,
.input-contain input:-ms-input-placeholder {
  color: var(--form_color_bg_form_color);
  opacity: 1;
}

.input-contain input:not(:focus)::-webkit-input-placeholder { /* WebKit browsers */
  color: var(--form_color_bg_form_color);
}
.input-contain input:not(:focus):-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--form_color_bg_form_color);
  opacity: 1;
}
.input-contain input:not(:focus)::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--form_color_bg_form_color);
  opacity: 1;
}
.input-contain input:not(:focus):-ms-input-placeholder { /* Internet Explorer 10+ */
  color: var(--form_color_bg_form_color);
}
.input-contain input:focus + button + .placeholder-text .text {
  border-color: var(--google-blue);
  color: var(--google-blue);
}

.input-contain input:focus + button + .placeholder-text .text,
.input-contain input:not(:focus):not(:placeholder-shown) + button + .placeholder-text .text,
.input-contain select + .placeholder-text .text {
  transform: translate(0, -100%);
  font-size: .72rem;
}

.input-contain .text {
  transform: translate(0);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}

.icon svg
button.icon-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--form_color_bg_form_color);
  position: relative;
}

button.icon-button {
  --button-pad: .625rem;
  width: calc(1.5rem + var(--button-pad));
  height: calc(1.5rem + var(--button-pad));
  padding: calc(var(--button-pad) / 2);
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--form_color_bg_form_color);
  position: relative;
}

.input-contain button.search-button {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--google-blue);
}

.input-contain input:focus + button.search-button {
  display: flex;
}

.input-contain input:focus + button.search-button svg {
  transform: translate(-1px, 1px);
}
button.icon-button:hover:after {
  content: '';
  border-radius: 100%;
  z-index: 0;
  height: 2.25rem;
  width: 2.25rem;
  background-color: var(--black);
  opacity: .04;
  position: absolute;
  top: -1px;
  left: -2px;
}

button[type='submit'] {
  display: inline-block;
  background-color: var(--form_color_bg_button_color);
  color: var(--white);
  text-transform: uppercase;

  border: 1px solid #DCDCDC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
  text-decoration: none;
  /* Override Google Style */
  margin: 1rem 0 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

button[type='submit']:hover {
  cursor: pointer;
  border: 1px solid #C6C6C6;

  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

/*@todo : @nono : A revoir ci-dessous à l'occase */
  /* Print - START */
#print {
  display: none;
}

#sub_print {
  font-size: 13px;
  font-weight: normal;
  background: var(--white);
  border: 1px solid #A2443A;
  display: none;
  position: absolute;
  top: 39px;
  right: 0;
  color: #004070;
  text-transform: none;
  width: 130px;
  padding: 5px;
}
/* Print - END */

/* Directions Panels - START */
#directions-panel{
  background: var(--white);
  overflow: auto;
}

table.adp-placemark{
  border: 2px solid silver;
}

table.adp-placemark tr{
  height: 60px;
  line-height: 60px;
}

table.adp-placemark td{
  box-sizing: border-box;
  border:0px;
}

table.adp-placemark td:nth-child(1){
  width: 46px;
  line-height: 20px;
  /* height: 60px; */
}

table.adp-placemark td:nth-child(2){
  /*width: calc(100% - 46px);*/
  /* height: auto; */
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
}

table.adp-placemark td img.adp-marker {
  width: 22px;
  height: 40px;
  vertical-align: middle;
}

div.adp-summary{
  font-weight: bold;
  text-align: center;
}
table.adp-directions{
  border: 2px solid silver;
  width: 100%;
}
table.adp-directions tr td:nth-child(2){
  font-weight: bold;
}
table.adp-directions tr td:last-child{
  /* font-weight: bold;*/
}

div.adp-list{
  margin-top:20px;
  margin-bottom:28px;
  padding: 0;
  border: 3px solid silver;
}

div.adp-list table{
  margin:0;
}
div.adp-list table tbody tr:first-child,
div.adp-list .adp-listheader{
  border-bottom: 3px solid silver;
}
div.adp-list table tbody tr:first-child td,
div.adp-list .adp-listheader{
  padding: 10px 10px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
div.adp-list table tbody tr td.adp-listsel,
div.adp-list table tbody tr td.adp-listsel b,
div.adp-list ol li.adp-listsel{
  font-weight: bold;
  font-size: 14px;
}

div.adp-list ol li.adp-listsel{
  padding: 2px 20px;
}

div.adp-list ol{
  padding: 12px!important;
}
div.adp-list table tbody tr:nth-child(2) td,
div.adp-list ol{
  padding-top: 12px!important;
}
div.adp-list table tbody tr:last-child td,
div.adp-list ol{
  padding-bottom: 10px!important;
}
div.adp-list table tbody tr td,
div.adp-list .adp-listheader{
  text-align: center;
}
div.adp-warnbox{
  margin-top:-12px;
  margin-bottom:28px;
  text-align: center;
}

table.adp-directions{
  margin-top: 0;
  margin-bottom: -12px;
}

#directions-panel .adp div[data-leg-index="0"] table.adp-placemark{
  /* margin-bottom:-23px; */
  margin-bottom:-88px;
}

div.adp-summary{
  margin:0;
  padding-bottom: 0;
  /* margin-top:-20px;
  padding-left:56px; */
  margin-bottom: 65px;
  /* padding-left:56px; */
}
/* Directions Panels - END */
